.product-card {
    overflow: hidden;
    
    background: #fff;
}


.product-image-wrapper {
  
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: 240px;
    object-fit: cover;
  
}


.discount-badge {

    color: #dc3545;
    font-size: 14px;
    font-weight: 600;
   
   
}

.wishlist-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.wishlist-btn:hover {
    background: #000;
    color: #fff;
}

.product-card .product-brand {
    color: #777;
    font-size: 14px;
}

  .product-title-card {
    font-size: 15px;
    font-weight: 600;
    min-height: 20px;
    line-height: 1.5;
}
.product-price{

        display: flex;
        flex-wrap: wrap;
    }


@media (max-width: 768px) {

    .product-image {
        height: 180px;
    }

    .product-card .product-title {
        font-size: 14px;
        min-height: 25px;
    }
    
}